<html>
<head>
<title>websocket测试</title>
<meta charset="utf-8">
</head>
<body>
	<div id="box"></div>
	<button onclick="sendMessage()">测试</button>

	<script>
		var  socket = new WebSocket("ws://localhost:8080/websocket");
        var box =  document.getElementById("box");
		socket.onerror= err => {           
			console.log(err);
			box.innerHTML="onerror";
		};

		socket.onopen = event => {            
			console.log(event);
			box.innerHTML = "onopen";
		};

		socket.onmessage = mess => {           
			console.log(mess);
			box.innerHTML="收到数据";
		};

		socket.onclose = () => {            
			console.log("连接关闭");
			box.innerHTML="连接关闭";
		};      
        
        
        function sendMessage() {            
        	if (socket.readyState === 1)
                socket.send("这是一个测试数据");
        	else
                alert("尚未建立websocket连接");
        }   
        
    </script>
</body>
</html>

